{% extends 'base.html' %}

{% block content %}
	{% if messages %}
		<ul id="messages">
			{% for message in messages %}
				<li class="{{ message.tags }}">{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<main class="article-block">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Головна</a></li>
			<li class="breadcrumb-item"><a href="{% url 'articles-list' %}">Публікації</a></li>
			<li class="breadcrumb-item"><a href="{{ item.category.get_absolute_url }}">{{ item.category|upper }}</a></li>
		</ol>
		<div>
			<div class="badge badge-secondary">{{ item.pub_date|date:"d E Y"|safe }}</div>
			<h3>{{ item.title }}</h3>
		</div>
		<div>
			{{ item.description|escape|safe }}

			{% if item.images.all %}
				{% include 'fotorama.html' with images=images %}
			{% endif %}
		</div>
		<div class='clearfix'></div>


		<div class="comments-list">
			<h4>Коментарі</h4>
			<ul>
				{% for comment in comments %}
					<li>
						<dd><strong>{{ comment.name }}</strong> ({{ comment.created_on }}):</dd>
						<p>{{ comment.body }}</p>
					</li>
				{% empty %}
					<p>Ще немає коментарів.</p>
				{% endfor %}
			</ul>
		</div>

		<div class="comments-form">
			<h4>Залишити коментар</h4>
			<form method="post">
				{% csrf_token %}
				{{ comment_form.as_p }}
				<p>
					<label></label>
					<button type="submit">Відправити</button>
				</p>
			</form>
		</div>
	</main>
{% endblock %}